
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3vh 3vw;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
}

.profile-pic {
  border-radius: 50%;
  display: flex;
  max-width: 300px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-wish-disabled {
  background-color: white !important;
}

.button-wish {
  width: 100%;
  padding: 2vw;
  margin: 2vw 0;
  font-size: large;
  font-weight: bold;
  background-color: yellow;
}

.button-wish:hover {
  background-color: white;
}

.message-box {
  resize: none;
  width: 100%;
  min-height: 20vh;
}

.form-container {
  margin: 3vh 0;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  margin: 3vh 0;
}

.message-container h4 {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.not-bday-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
